@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1024px;
  min-width: 350px;
  margin: 0 auto;
}

.nav {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 2rem;
  padding: 2rem;
}

.callout {
  margin: 1rem auto;
  background-color: #9dc4ff;
  max-width: 840px;
}

.callout h1,
h2,
h3 {
  margin: 0 0.5rem;
  padding: 0.5rem;
}

.callout p {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  max-width: 800px;
}

.services {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services div {
  margin: 0.5rem;
  min-width: 350px;
  max-width: 420px;
  padding: 10px;
}

.services div img {
  width: 100%;
}

.services div h1 {
  margin: 0.5rem;
  font-size: 1.6rem;
}

.services div p {
  margin: 0 0.5rem 0.5rem;
}

.footer {
  background-color: #eaeaea;
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
